form action="perssions/destory" method="post"
  input type="hidden" name="_method" value="delete"
  input type="hidden" name="user_id" value=@user[:user].staffid
  input.btn.btn-danger type="submit" value="取消"

