// Place all the styles related to the clerk controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// clerk query all css

div[class~=clerk_query]{

  .alert-success {
       padding: 5px 20px;
       margin-top: -9px;
     }
      button{
      margin-top: -12px;
    }
}
