// Place all the styles related to the clerk controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// clerk query all css

div[class~=clerk_query]{

  .alert-success {
       padding: 5px 20px;
       margin-top: -9px;
     }
      button{
      margin-top: -12px;
    }
}



div[class~=table-shop]{
  .span3 .span12{
    background:#e5e5e5;
    padding-left:20px;
   padding-top:3px;
  }
  margin-bottom:40px;

}
