/*************************************************************************
    * File Name: glDatePicker.custom.css
    * Author: simlegate
    * Mail: simlegate@163.com 
    * Created Time: Mon 07 Jan 2013 09:28:18 PM CST
 ************************************************************************/
/* Special */
.gldp-default .special-red {
	color: #fff;
	font-weight: bold;
	border-color: #0c0;
	background: #FF0000 !important;
}
.gldp-default .special-blue {
	color: #fff;
	font-weight: bold;
	border-color: #0c0;
	background: #3A87AD !important;
}

