.form-wrapper.login {
width: 360px;
color: #333;
text-align: center;
}
.form-wrapper {
margin: 50px auto 20px;
padding: 10px;
background-color: #F0F9FE;
background-color: rgba(0, 78, 127, 0.1);
}
.control-group {
margin-bottom: 9px;
}
legend + .control-group {
margin-top: 18px;
-webkit-margin-top-collapse: separate;
}
.form-wrapper form {
background-color: white;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
margin: 0;
padding: 10px;
}

.navbar-inner{
  padding-left: 20px !important;
  padding-right: 60px !important;


}

body{
  padding-top: 60px;
  padding-bottom: 40px;

}
