
.table-shop table{
 margin: 0 auto;

}
.table-shop p{
/* text-align:center;*/
}
.layout-sidebar{
  height: 318px;
}
.accordion-inner ul li{
  line-height:24px;
}
.control-label {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right;
}
.checkbox{
  padding-left: 28px;
  vertical-align: middle
}
input[type="image"], input[type="checkbox"], input[type="radio"]{
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  line-height: normal;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0 9;
}
