table[class=user_infor]{
 td{ padding-right: 30px;} 
 span{padding-right: 5px;}

}





div[class=title]{
  border-bottom: 2px solid #D9EDF7;
  margin-bottom: 15px;

  div[class=content]{
    padding: 0px 5px 0px 5px;
    width:250px;
    border-bottom: 8px solid #D9EDF7;
 }
  input[name=commit]{
   float: right; 
   margin: -30px 201px 0 0;
  }
}


p[class=no_message]{
 font-size: 21px;
 color: #999;
 margin-top: 115px;
 margin-left:50px;
}


.table-bordered{
 border: 0px;
 th:first-child , td:first-child {
 border-left:0px;
}
}


.table{
   th{text-align: center;}
   td{
   text-align: center;
   padding: 6px;
   line-height: 28px;
   span[class~=alert]{padding: 4px 18px; }
   a{padding-right:5px}
   button  a , button i {  color: #000;  padding-right:0px;}
   a:hover { text-decoration: none; }
   form{
     margin: 0 0 0px  ;
   }  
   select{
     margin-bottom: 0px;
   }
}
}
