// Place all the styles related to the records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div[class=title]{
  border-bottom: 2px solid #D9EDF7;
  margin-bottom: 15px;
 div[class=content]{
  padding: 0px 5px 0px 5px;
  width:168px;
  border-bottom: 8px solid #D9EDF7;
 }
}
