
@import "function.css.less";

table.user_infor{
 td{ padding-right: @base-padding *2;} 
 span{padding-right: @base-padding /4;}
}

p.no_message {
 font-size: 21px;
 color: @grey;
 margin-top: 115px;
 margin-left: @base-margin;
}

div[class~=waiting] strong{
    position: fixed;
    left: 38%;
    top: 28%;
    font-size: 20px;
    color: #FF1;
}

div[class=title]{
  border-bottom: 2px solid #D9EDF7;
  margin-bottom: 15px;

  div[class=content]{
    padding: 0px 5px 0px 5px;
    width:250px;
    border-bottom: 8px solid #D9EDF7;
 }
  button[name=button]{
   float: right; 
   margin: -30px 201px 0 0;
  }
}

table.table{
   th{text-align: center;}
   td.notice_title{border-top-style:none;}
   td{
   text-align: center;
   padding:2px 6px;   
   line-height: 28px;
   span[class~=alert]{padding: 4px 29px; }
   a{padding-right:5px}
   button  a , button i {  color: #000;  padding-right:0px;}
   a:hover { text-decoration: none; }
   form{
     margin: 0 0 0px  ;
     .input-append{margin-bottom:0px ;}
   }  
   select{
     margin-bottom: 0px;
   }
   }
}
.table-bordered{
    td.m_r{width: 28%;
	   form div:first-child{float:left;}
	  }
    th:first-child , td:first-child {
	border-left:0px;
    }
}
// 查询 less 
.query_total_infor{
  #float(right);
  margin:-47px 49px;
  a {#a;}
}


form.query_data_form{
   margin: 0 0 0px;
   float: left;
   width: 100%;
   .query_data{
      float: left;
      width: 100%;
      border-bottom: 1px solid #ddd;
      margin-bottom: 20px;
      padding-bottom: 7px;
      > div { 
       > div{margin-right: 10px;}
       > input[type=submit]{float:right}
       float:left;
       input[type=text]{   width: 168px;}
       select{ width: 125px;}	
       margin: 6px 0px -8px 0px;
      }
      > button{
        #float;	
        margin-top: 8px;
      }	
    }
}



// 统计less 
div.count_head {
    float: right;
    margin-right: 134px;
    min-width: 358px;
    .input-append{margin-bottom: 0px;}
    #new_count {margin: 0 0 0px ; float: left;}
    .btn-group{
	float: right;
        a{color: #fff;}
	a:hover {text-decoration: none;}}
    .progress_detail{
	float: right;
	margin-top: -22px;
	> span {line-height: 28px;}
    }
    .progress-striped{width: 49%;}
}

.count_kind{margin-top: -45px;}
table.align_left{
    td{text-align: left;
      border-style:none;}
}




//message 
table.table{ 
  td.message_title{
  text-align:left;
  padding-left:5px;
  }
  td div.accordion-body{
      text-align:left;
      padding-left:5px;
  }
  
}


//examine
form.new_examine{
    border-bottom: 1px solid #ddd;
    div.examine_notice_remark{
	float: left;
	margin-right: 40px;
    }
}
form.new_care{
    border-bottom: 1px solid #ddd;
}


//footer
footer.footer {
    margin-top: 45px;
    padding-top: 40px;
    border-top: 1px solid #e5e5e5;
    text-align:center;
    color: #666;
}